/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Fira Sans", sans-serif;
}

h1,h3{

position: absolute;

color: whitesmoke;
/*background-color: rgba(0,0,0,.17);*/



line-height: 97%;

padding: .5%;
z-index: 97;
left: 40px;
border-radius: 4px;

}


h1{

top: 10px;
font-size: 3.9rem;
font-weight: 800;
background-color: rgba(0,0,0,.42);
border: solid 3px lightblue;
text-align: center;
max-width: 80%;

/*box-shadow:1px 1px 1px 1px lightblue;*/


}

h3{

color: #111;
background-color: rgba(255,255,255,.77);
top:190px;
padding: .9%;
font-weight: 400;
font-style: italic;
max-width: 80%;
text-align: center;
font-size: 1.1rem;

/*border: solid 1px goldenrod;*/

}

.desc{

position: absolute;
left: 5%;
top: 47%;
color: whitesmoke;
/*color: goldenrod;*/
font-size: 1.4rem;
font-weight: 900;
border-radius: 3px;

background-color: rgba(0,0,0,.42);
/*border: solid 2px goldenrod;*/
  border-bottom: 3px solid goldenrod;

/*background-color: whitesmoke;*/
/*background-color: goldenrod;*/
padding: .4%;

}



.descContent{

position: absolute;
left: 5%;
top: 55%;
color: whitesmoke;
font-size: .8rem;
display: flex;
flex-direction: column;
font-weight: 300;
padding: 1%;   
border-radius:5px;

background-color: rgba(0,0,0,.42);
/*border: solid 3px lightblue;*/


}

.toggle {

    animation: slide .4s ease;

}


@keyframes slide {

from {
    opacity:.3;
    transform: translateY(-16px);
    /*filter: blur(30p/x);*/
   text-shadow: 14px 14px 4px 3px whitesmoke;
}

to {

    opacity: 1;
        transform: translateY(0px);

}



}


.loc {

padding-left: 9px;
}

.num {

    font-size: 1.2rem;
    font-weight:600;
  border-bottom: 2px solid goldenrod;
  padding-left: 4px;
}

#map {

    width: 100%;
    height: 199vh;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */


.cover {

position: fixed;
display: inline;
/*border: dashed red;*/
left:0;
top:0;
width: 34%;
height: 100vh;
background-color: rgba(0,0,0,.29);
/*z-index: 99;*/



}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



@media only screen and (max-device-width: 867px) {


    .cover {

position: fixed;
/*display: inline;*/
/*border: dashed red;*/
/*bottom:10px;*/
/*float:bottom;*/
top:10px;
width: 100%;
height: 30vh;
background-color: rgba(0,0,0,.01);
/*z-index: 99;*/



}


.desc{

position: fixed;
left: 5%;
top: 70%;
/*bottom: 10%;*/
color: whitesmoke;
/*color: goldenrod;*/
font-size: 1.4rem;
font-weight: 900;
border-radius: 3px;

background-color: rgba(0,0,0,.42);
/*border: solid 2px goldenrod;*/
border-bottom: 3px solid goldenrod;


/*background-color: whitesmoke;*/
/*background-color: goldenrod;*/
padding: .4%;

}



.descContent{
width: 100%;

position: fixed;
left: 5%;
top: 78%;
color: whitesmoke;
font-size: .8rem;
display: flex;
flex-direction: column;
font-weight: 300;
padding: 1%;   
border-radius:5px;

background-color: rgba(0,0,0,.42);
/*border: solid 3px lightblue;*/


}



h1,h3{

position: absolute;

color: whitesmoke;
/*background-color: rgba(0,0,0,.17);*/



line-height: 97%;

padding: 1.2%;
z-index: 97;
left: 40px;
border-radius: 4px;

}


h1{

top: 5px;
font-size: 1.9rem;
font-weight: 800;
background-color: rgba(0,0,0,.42);
border: solid 1px lightblue;

}

h3{

color: #111;
background-color: rgba(255,255,255,.77);
top:66px;
font-weight: 400;
font-style: italic;
min-width: 80%;
text-align: center;
font-size: .9rem;

}






}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
